<div class="login px-1 bg-dark" [style.backgroundImage]="'url(assets/auth/login/login.png)'">
    <div class="text-center p-3">
        <img src="assets/auth/login/logo.png"  width="120px" height="120px">
    </div>
    <div class="form py-3">
        <form action="">
            <div class="input row">
                <div class="col-10 text-end p-0 m-0">
                    <input type="text" class="text-end text-white col-8" placeholder="أسم المستخدم">
                </div>
                <div class="col-2 text-center">
                    <img src="assets/auth/login/username-icon.png" class="mx-auto">
                </div>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
            <div class="input row mt-3">
                <div class="col-10 text-end p-0 m-0">
                    <input type="text" class="text-end text-white col-8" placeholder="أسم المستخدم">
                </div>
                <div class="col-2 text-center">
                    <img src="assets/auth/login/username-icon.png" class="mx-auto">
                </div>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
            <div class="row input border-0 text-white fs-7">
                <div class="col p-0 text-secondary">
                    نسيت كلمة المرور
                </div>
                <div class="col p-0 text-end ">
                    <label for="rememberMe" class="text-first">تذكرنى</label>
                    <input type="checkbox" value="lsRememberMe" id="rememberMe"> 
                    <!-- <input class="check" type="checkbox" value="">
                    تذكرنى -->
                </div>
            </div>
            <div class="text-center mt-3 mb-5">
                <button type="button" (click)="login()" class="btn btn-sm btn-four rounded-pill text-white fs-3 px-5">الدخول</button>
            </div>
            <div class="text-center">
                <button type="button" class="btn border-white rounded-pill text-white fs-6 px-5 w-75">تسجيل مستخدم جديد</button>
            </div>
            <div class="text-center mt-3">
                <button type="button" class="btn border-white rounded-pill text-white fs-6 px-5 w-75">تخطى التسجيل</button>
            </div>
        </form>
    </div>

</div>