<div class="login px-1 bg-dark" [style.backgroundImage]="'url(assets/auth/login/login.png)'">
    <div class="text-center p-3">
        <img src="assets/auth/login/logo.png"  width="120px" height="120px">
    </div>
    <div class="form py-3">
        <div class="alert alert-danger" *ngIf="error">
            {{loginLang.invalidCredintails}}
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="submite()">
            <div class="input row">
                <div class="col-10 text-end p-0 m-0" >
                    <input type="text" class="text-end text-white col-8 " [placeholder]="loginLang.userName"
                    formControlName="email"
                    [ngClass]="{'is-invalid':isFormSubmitted && email?.errors}">
                    <div *ngIf="isFormSubmitted && email?.errors?.['required']" class="invalid-feedback ">
                        {{loginLang.userNameRequired}} 
                    </div>
                    <div *ngIf="isFormSubmitted && email?.errors?.['email']" class="invalid-feedback">
                        {{loginLang.userNameEmail}}
                    </div>
                </div>
                <div class="col-2 text-center">
                    <img src="assets/auth/login/username-icon.png" class="mx-auto">
                </div>
                
            </div>
            <div class="input row mt-3">
                <div class="col-10 text-end p-0 m-0">
                    <input type="password" class="text-end text-white col-8" [placeholder]="loginLang.password"
                    formControlName="password"
                    [ngClass]="{'is-invalid':isFormSubmitted && password?.errors}"
                    >
                    <div *ngIf="isFormSubmitted && password?.errors" class="invalid-feedback">
                        {{loginLang.passwordRequired}}
                    </div>
                </div>
                <div class="col-2 text-center">
                    <img src="assets/auth/login/username-icon.png" class="mx-auto">
                </div>
               
            </div>
            <div class="row input border-0 text-white fs-7">
                <div class="col p-0 text-secondary">
                   {{loginLang.forgetPassword}}
                </div>
                <div class="col p-0 text-end ">
                    <label for="rememberMe" class="text-first">{{loginLang.rememberMe}}</label>
                    <input type="checkbox" value="lsRememberMe" id="rememberMe"> 
                </div>
            </div>
            <div class="text-center mt-3 mb-5">
                <button type="submit" class="btn btn-sm btn-four rounded-pill text-white fs-3 px-5">{{loginLang.login}}</button>
            </div>
        </form>
        <div class="text-center">
            <button type="button" (click)="login()"   class="btn border-white rounded-pill text-white fs-6 px-5 w-75">{{loginLang.register}}</button>
        </div>
        <div class="text-center mt-3">
            <button type="button" class="btn border-white rounded-pill text-white fs-6 px-5 w-75">{{loginLang.skip}}</button>
        </div>
    </div>

</div>