<div class="register" [style.backgroundImage]="'url(assets/auth/register/register1.png)'">
    <!-- <img src="assets/auth/register/registercc.png" alt="" class="img-fluid"> -->
    <div class="text-center form">
        <div class="space"></div>
        <div class="card border-secondary mx-auto mb-3">
            <div class="card-body p-0 border-0">
                <h3 class="card-title bg-secondary text-white">
                    أسم المستخدم والبريد الإلكترونى
                </h3>
                <div class="input row  mx-auto border-secondary">
                    <div class="col-10 text-end p-0 m-0">
                        <input type="text" class="text-end text-white col-8" placeholder="أسم المستخدم">
                    </div>
                    <div class="col-2 text-center">
                        <img src="assets/auth/register/username-icon.png" class="mx-auto">
                    </div>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
                <div class="input row  mx-auto border-secondary my-3">
                    <div class="col-10 text-end p-0 m-0">
                        <input type="text" class="text-end text-white col-8" placeholder="البريد الألكترونى">
                    </div>
                    <div class="col-2 text-center">
                        <img src="assets/auth/register/email-icon.png" class="mx-auto">
                    </div>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
                <p class="card-title bg-four text-warning m-0 px-4 fs-7">
                    أسم المستخدم هو الاسم الذى يظهر لجميع الأعضاء لذا يجب أن يكون لأئق
                </p>
            </div>
        </div>
        <div class="card border-secondary mx-auto mb-3">
            <div class="card-body p-0 border-0">
                <h3 class="card-title bg-secondary text-white">
                    كلمة المرور
                </h3>
                <div class="input row  mx-auto border-secondary">
                    <div class="col-10 text-end p-0 m-0">
                        <input type="text" class="text-end text-white col-8" placeholder="كلمة المرور">
                    </div>
                    <div class="col-2 text-center">
                        <img src="assets/auth/register/password-icon.png" class="mx-auto">
                    </div>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
                <div class="input row  mx-auto border-secondary my-3">
                    <div class="col-10 text-end p-0 m-0">
                        <input type="text" class="text-end text-white col-8" placeholder="تأكيد كلمة المرور">
                    </div>
                    <div class="col-2 text-center">
                        <img src="assets/auth/register/confirmPassword-icon.png" class="mx-auto">
                    </div>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
                <p class="card-title bg-four text-warning m-0 px-4 fs-7">
                    أسم المستخدم هو الاسم الذى يظهر لجميع الأعضاء لذا يجب أن يكون لأئق
                </p>
            </div>
        </div>
        <div class="card border-secondary mx-auto mb-3">
            <div class="card-body p-0 border-0">
                <h3 class="card-title bg-secondary text-white">
                    الجنسية والإقامة
                </h3>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>الجنسية</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>بلد الإقامة</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>اختر المدينة</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card border-secondary mx-auto mb-3">
            <div class="card-body p-0 border-0">
                <h3 class="card-title bg-secondary text-white">
                    الحالة الإجتماعية
                </h3>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>اختر الحالة الإجتماعية</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>اختر نوع الزواج</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>اختر العمر</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>اختر عدد الأطفال</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card border-secondary mx-auto mb-3">
            <div class="card-body p-0 border-0">
                <h3 class="card-title bg-secondary text-white">
                    مواصفاتك
                </h3>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>ما هو وزنك ؟</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>ما هو طولك ؟</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>اختر لون بشرتك</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>بنية الجسم</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card border-secondary mx-auto mb-3">
            <div class="card-body p-0 border-0">
                <h3 class="card-title bg-secondary text-white">
                    الألتزام الدينى
                </h3>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>التدين</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>الصلاة</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>التدخين</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>اللحية</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card border-secondary mx-auto mb-3">
            <div class="card-body p-0 border-0">
                <h3 class="card-title bg-secondary text-white">
                    الدراسة والعمل
                </h3>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>المؤهل التعليمى</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>الوضع المادى</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>مجال العمل</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>الوظيفة</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>الدخل الشهري</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="pb-2 " dir="rtl">
                    <select class="bg-four">
                        <option selected disabled>الحالة الصحية</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card border-secondary mx-auto mb-3">
            <div class="card-body p-0 border-0">
                <h3 class="card-title bg-secondary m-0 text-white">
                    مواصفات شريك حياتك
                </h3>
                <div class="p-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <p class="card-title bg-four text-warning m-0 px-4 fs-7">
                    يرجى الكتابة بطريقة جادة ويمنع <br> كتابة الأيميل او رقم الجوال فى هذا المكان
                </p>
            </div>
        </div>
        <div class="card border-secondary mx-auto mb-3">
            <div class="card-body p-0 border-0">
                <h3 class="card-title bg-secondary m-0 text-white">
                    تحدث عن نفسك
                </h3>
                <div class="p-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <p class="card-title bg-four text-warning m-0 px-4 fs-7">
                    يرجى الكتابة بطريقة جادة ويمنع <br> كتابة الأيميل او رقم الجوال فى هذا المكان
                </p>
            </div>
        </div>
        <div class="card border-secondary mx-auto mb-3">
            <div class="card-body p-0 border-0">
                <h3 class="card-title  bg-secondary text-white">
                    كلمة المرور
                </h3>
                <div class="row p-2">
                    <div class="col-8">
                        <div class="input mx-auto border-secondary">
                            <div class="text-end p-0 m-0">
                                <input type="text" class="text-end text-white col-8" >
                            </div>
                            <div class="invalid-feedback">
                                Please choose a username.
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <p class="mt-2">
                            الأسم الكامل
                        </p>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-8">
                        <div class="input mx-auto border-secondary">
                            <div class="text-end p-0 m-0">
                                <input type="text" class="text-end text-white col-8" >
                            </div>
                            <div class="invalid-feedback">
                                Please choose a username.
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <p class="mt-2">
                            الأسم الكامل
                        </p>
                    </div>
                </div>
                <p class="card-title bg-four text-warning m-0 px-4 fs-7">
                    المعلومات خاصة بالتطبيق ولن تظهر <br> لباقى الأعضاء يرجي كتابتها بشكل صحيح
                </p>
            </div>
        </div>
        <div class="card border-secondary mx-auto mb-3">
            <div class="card-body p-0 border-0">
                <h3 class="card-title m-0 bg-secondary text-white">
                    كلمة المرور
                </h3>
                <p class="card-title bg-four text-warning m-0 p-2 fs-6">
                    بالضغط على زر التسجيل فأنت <br> توافق على 
                    <a href="" class="fs-5 text-secondary"> شروط التطبيق وقوانيه</a>
                </p>
            </div>
        </div>
        <div class="text-center m-5">
            <button type="button" class="btn btn-sm btn-secondary rounded-pill text-white fs-3 px-5">تسجيل</button>
        </div>
    </div>
</div>