<div class="row m-0">
    <div class="space"></div>
    <div class="col-6 text-start p-0">
        <span class="px-4 py-2 bg-secondary fs-3 rounded-end">
            رسائلي
        </span>
    </div>
    <div class="col-6 text-center">
        <img src="assets/home/logo-icon.png" class="img-fluid" width="100px" height="100px">
    </div>
</div>
<div class="card mt-5  form border-secondary mx-auto mb-3 text-center shadow">
    <div class="card-body p-0 border-2 ">
        <h3 class="card-title bg-secondary text-white">
            قائمة رسائلي
        </h3>
        <div class="messages row  mx-auto p-2 border-secondary">
           
        </div>
        <p class="card-title bg-secondary text-white m-0 px-4 fs-6">
           لاتوجد رسائل
        </p>
    </div>
</div>