<div class="row m-0">
    <div class="space"></div>
    <div class="col-6 text-start p-0">
        <span class="px-4 py-2 bg-secondary fs-3 rounded-end">
            الرئيسية
        </span>
    </div>
    <div class="col-6 text-center">
        <img src="assets/home/logo-icon.png" class="img-fluid" width="100px" height="100px">
    </div>
</div>
<div class="p-3">
    <div class="p-3 mt-5">
        <ul class="list-group form shadow text-end">
            <li class="list-group-item ">
                <div class="row m-0">
                    <div class="col-4">متصل</div>
                    <div class="col-8 ">حالة ظهورك في التطبيق</div>
                </div>
            </li>
            <li class="list-group-item ">
                <div class="row m-0">
                    <div class="col-4">الأعدادات</div>
                    <div class="col-8 ">لتغيرها قم بزيارة</div>
                </div>
            </li>
            <li class="list-group-item ">
                <div class="row m-0">
                    <div class="col-6">25/12/2019</div>
                    <div class="col-6 ">أنت مشترك منذ</div>
                </div>
            </li>
            <li class="list-group-item ">
                <div class="row m-0">
                    <div class="col-6">5555556</div>
                    <div class="col-6 ">رقم العضوية</div>
                </div>
            </li>
            <li class="list-group-item ">
                 يمكنك التحكم بخصائص حسابك من خلال الأعدادات الخاصه <a href="">أضغط هنا</a>
            </li>
        </ul>
    </div>
</div>